@import "tailwindcss";

:root {
  --navy: #0a1f44;
  --navy-light: #112966;

  --blue: #1e5bba;
  --blue-light: #3b82f6;

  --orange: #f97316;
  --orange-dark: #ea580c;

  --blue-soft: #ebf3ff;
  --orange-soft: #fff4ed;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.heading-font {
  font-family: var(--font-heading);
}

.body-font {
  font-family: var(--font-body);
}